<div class="bg-gray-400 p-8 mt-[100px]">

<h2>Get The FreshCart app </h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>


<form class="flex items-center w-full mt-5">   
    <div class="relative w-full">
       
        <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email" required />
    </div>
    <button type="submit" class="p-1 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
       Share App Link
        <span class="sr-only">Search</span>
    </button>
</form>

<div class="h-0.5 bg-indigo-400 m-3"></div>

<div class="flex">
    <div class="w-1/2 flex  items-center">
        <h3>payment partners</h3>
<img class="w-[10%] m-2" src="images/amazon-pay.png" alt="amazon-pay">
<img class="w-[10%] m-2" src="images/American-Express-Color.png" alt="American-Express-Color">
<img class="w-[10%] m-2" src="images/mastercard.webp" alt="mastercard">
<img class="w-[10%] m-2" src="images/paypal.png" alt="paypal">

</div>

<div class="items-center flex justify-end">

    <h3>Get Deliveries With FreshCart</h3>
    <img class="w-[10%]" src="images/get-apple-store.png" alt="">
    <img class="w-[10%]" src="images/get-google-play.png" alt="">
</div>
</div>

<div class="h-0.5 bg-indigo-400 m-3"></div>

</div>


