<div class="mt-7 mx-auto w-[75%]">
  <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
    <!-- alert not valid form -->
    @if(errorMasseage().length>0){
    <div
      class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
    >
      <span class="sr-only">Info</span>
      <div class="font-medium">{{ errorMasseage() }}</div>
    </div>

    }


    <!-- email input -->
    <div class="mb-4">
      <label class="block mb-2 text-sm font-medium">Email address:</label>
      <input
        formControlName="email"
        type="email"
        class="bg-blue-50 border border-blue-300 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5"
        placeholder="m nagia@company.com"
      />

      @if (loginForm.get("email")?.errors &&
      loginForm.get("email")?.touched) {
      @if(loginForm.get("email")?.errors?.["required"]){
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <span class="sr-only">Info</span>
        <div class="font-medium">REQUIERD EMAIL</div>
      </div>

      }@else if (loginForm.get("email")?.errors?.["email"]) {

      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <span class="sr-only">Info</span>
        <div class="font-medium">should write name @ .....</div>
      </div>
      } }
    </div>

    <!-- password input -->
    <div class="mb-4">
      <label class="block mb-2 text-sm font-medium">Password:</label>
      <input
        formControlName="password"
        type="text"
        class="bg-blue-50 border border-blue-300 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5"
        placeholder="•••••••••"
      />
      @if (loginForm.get("password")?.errors &&
      loginForm.get("password")?.touched) { @if
      (loginForm.get("password")?.errors?.['required']) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <span class="sr-only">Info</span>
        <div class="font-medium">REQUIERD PASSWORD</div>
      </div>

      } @else if (loginForm.get("password")?.errors?.["pattern"]) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <span class="sr-only">Info</span>
        <div class="font-medium">Should be password start char and number</div>
      </div>
      } }
    </div>

<div class=" flex justify-between">
      <button
      [disabled]="!loginForm.valid"
      type="submit"
      class="text-white cursor-pointer disabled:bg-blue-300 disabled:cursor-not-allowed bg-blue-700 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    >
      Submit @if(loading()){
      <i class="fa-solid fa-spinner fa-spin"></i>
      }
    </button>
      <a (click)="forgetPass()" class="text-white cursor-pointer disabled:bg-blue-300 disabled:cursor-not-allowed bg-blue-700 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" >
      Forget Password 
    </a>
</div>
  </form>
</div>
